html {
    height: 100%;
    margin: 0px;
    padding: 0px
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ffefcc;
}

td {
    border: 3px solid #0050a0;
    text-align: center;
}

#main-heading {
    text-align: center;
    color: #0050a0;
}

#game-board {
    margin: auto;
    width: 60%;
    height: 60%;
    padding: 10px;
}

#game-table {
    margin: auto;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #0050a0; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s, 2.5s;
    animation: fadein 0.5s, fadeout 0.5s, 2.5;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;} 
to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.empty-square {
    color: #3f2b00dc;
    opacity: 0;
    transition: opacity 0s;
    font-size: 100px;
}

.empty-square:hover {
    opacity: 1;
}

.filled-square {
    color: #3f2b00dc;
    opacity: 1;
    font-size: 100px;
}